a:active,
a:hover,
a {
    text-decoration: none;
    color: white;
}

div {
    padding: 0.1%;    
}
div.main .center {

position: absolute;

top: 45%;

left: 0;

right: 0;

text-align: center;

text-transform: uppercase;

z-index: 15;

}
.cent{
    padding-top: 3%;
    text-align: center;
}
header {
    border-bottom: 1px solid white;
}
img {
    width: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
    background-color: black;
  color: #fff;
    margin-top: 10%;

}

h2 {
  color: #BDC3C7
}

.header {
    width: 100%;
    padding: 2%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    color: white;
    font-family: Verdana;
    z-index: 500;
    position: fixed;
    display: flex;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__in {
    min-width: 80%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    position: relative;
}
.page {
    padding-top: 0%;
    width: 80%;
    margin: 0% auto;
}
footer {
    border-top: 1px solid white;
}

.footer {
    width: 100%;
    min-width: 100%;
    padding: 1%;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    color: white;
    width: 100%;
    font-family: Verdana;
    z-index: 500;
    display: flex;
    margin-top: 3%;
}

.footer_in {
    width: 80%;
    margin: 0% auto;
    display: flex;
    align-items: center;
}

.brand {
    font-size: 18px;
}

content {
    font-size: 30px;

    width: 80%;
    margin: 0% auto;
}

.galery img:hover {
    transform: scale(1.1);
}
.galery img{
    transition: 0.5s;
    margin: 4% 1%;
}

.servi {
    border-top: 1px solid white;
    background-color: #0d0d0d;
}

.serv {
    background-image: url(http://apikabu.ru/img/682f58.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    font-size: 15px;
    padding: 5%;
    margin: 1%;
}

.serv_name {
    position: fixed;
    padding-bottom: 75%;
    padding-top: 15%;
}
.rovniy{
    transform: skewX(15deg);
}



.gall {
    border-top: 1px solid white;
    background-color:  #000;
}

html {
    right: 0;
}
::-webkit-scrollbar {
    background-color: #000;
    border-left: 1px solid white;
}
#content {
    padding-bottom: 2%;
}

.tex {
    margin: 4% 0%;
}
@media (max-width:900px){
    body{
        margin-top: 15%;
    }
}
@media (max-width:575px){
    body{
        margin-top: 60%;
    }
}

.svet:hover{
color: #f7f6f6;
text-shadow: 0 0 1px #fff, 0 0 5px #101010, 0 0 10px #101010, 0 0 15px #101010, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff;
}
